//
// DeveloperSettings.xcconfig.example
//  swift-cam
//
//  Created by Joshua Nöldeke on 30.09.25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Team & Signing
// ==================
// 1. Find your Team ID at: https://developer.apple.com/account/#/membership
// 2. Duplicate this file and rename it to "DeveloperSettings.xcconfig"
// 3. Add your Team ID below.
// 4. The real DeveloperSettings.xcconfig is git-ignored.

DEVELOPMENT_TEAM = YOUR_TEAM_ID_HERE
CODE_SIGN_STYLE = Automatic
// Base Bundle Identifier
// This is the core bundle ID that will be used for all configurations.
BASE_BUNDLE_ID = com.yourname.swift-cam



